@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
  color: #384354;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  margin: 0 0 2vh 0;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh 0;
}

#avatar {
  width: 25%;
  margin: 1%;
  border-radius: 10%;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}
#avatar:hover {
  transform: scale(1.1);
}

.bio {
  margin-left: 3%;
}
.bio-element {
  margin: 5% 0;
}
.bio-element h4 {
  margin: 1% 0;
}
.bio-element p {
  margin: 0;
}

.goals {
  margin: 2vh 0;
  padding: 2vh 0;
  background-color: #f9f9f9;
  border-radius: 5vh;
  width: 60%;
}
.goals ul {
  margin: 0 auto;
  list-style: none;
  width: 80%;
}
.goals li {
  margin: 3%;
  position: relative;
  transition: all 0.2s;
}
.goals li:first-child {
  margin-top: 0;
}
.goals li:before {
  content: '✔';
  position: absolute;
  top: -2px;
  left: -20px;
  color: #384354;
}
.goals li:hover {
  transform: scale(1.05);
  cursor: default;
}

.time {
  margin: 2vh 0;
  padding: 2vh 0;
  background-color: #f9f9f9;
  border-radius: 5vh;
  width: 60%;
}
.week {
  width: 50%;
  margin: 0 auto;
}
.week td:nth-child(2) {
  text-align: right;
}

.courses {
  margin: 2vh 0;
  padding: 2vh 0;
  background-color: #f9f9f9;
  border-radius: 5vh;
  width: 60%;
}
.courses-list {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
}
.courses-list th {
  padding: 2% 0;
}
.courses-list th {
  border-bottom: 1px solid #384354;
}
.courses-list td {
  padding: 2% 0;
}
.courses-list a {
  color: #384354;
  text-decoration: none;
}
.courses-list a:hover {
  color: #384354;
  text-decoration: underline;
}

.contacts {
  margin: 2vh 0;
  padding: 2vh 0;
  background-color: #f9f9f9;
  border-radius: 5vh;
  width: 60%;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.links a {
  text-align: center;
  margin: 0 5%;
  text-decoration: none;
  color: #384354;
}
.links a:hover {
  text-decoration: underline;
}
.links a:hover > img {
  transform: scale(1.3);
}
.links img {
  height: 8vh;
  transition: all 0.3s;
}
